#email {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: rgba(66, 97, 117, 0.664);
  color: white;

  border-radius: 5px;
  padding-top: 10px;
  margin: 0px;
  margin-left: 5px;
}
.email {
  flex: 1 0 auto;

  padding: 4px 10px 4px 10px;
  background-color: rgba(247, 253, 255, 0.8);
  color: black;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.email li {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  flex: 1 0 auto;
}

.email-body {
  display: block;

  padding: 4px 10px 4px 10px;
  background-color: rgba(247, 253, 255, 0.8);
  color: black;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.email-actions {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.email-actions div {
  margin-left: 15px;
  margin-bottom: 10px;
}

.email-actions div:hover {
  text-decoration: underline;
  cursor: pointer;
}
